// @use "mixins";
// @use "variables";

body {
  &.rtl {
    font-family: 'Rubik', 'Poppins', 'Cairo', sans-serif;

    * {
      direction: rtl;
      --ion-font-family: 'Rubik', 'Poppins', 'Cairo', sans-serif;
      --ion-default-font: 'Rubik', 'Poppins', 'Cairo', sans-serif;
    }

    .absolute-start {
      position: absolute;

      right: 0;
      left: unset;
    }

    .absolute-end {
      position: absolute;

      right: unset;
      left: 0;
    }

    .image-scale {
      transform: scaleX(-1) !important;
    }

    .flipped-image-scale {
      transform: scaleX(1) !important;
    }

    mat-error{
        text-align: initial;
    }

    .cdk-overlay-connected-position-bounding-box {
        align-items: unset !important;
    }

    div#mat-select-value-1 {
        margin-inline-end: auto;
        display: flex;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
        transform: scaleX(-1) !important;
    }
  }
}
