* {
    direction: ltr;
    --ion-font-family: "Rubik", "Poppins", sans-serif;
    --ion-default-font: "Rubik", "Poppins", sans-serif;

    .loader {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }
}

body {
    font-family: "Rubik", "Poppins", sans-serif;
}

.absolute-start {
    position: absolute;

    right: unset;
    left: 0;
}

.absolute-end {
    position: absolute;

    right: 0;
    left: unset;
}

.image-scale {
    transform: scaleX(1) !important;
}

.flipped-image-scale {
    transform: scaleX(-1) !important;
}
