<div id="container">
    <!-- <ng-container *ngIf="alert.Type" [ngSwitch]="alert.Type">
        <div *ngSwitchCase="enums.AlertType.Success" class="success-box">
            <div class="face success-animation">
                <div class="eye"></div>
                <div class="eye right"></div>
                <div class="mouth happy"></div>
                <div class="scale"></div>
            </div>
            <div class="message">
                <h1 class="alert">Success!</h1>
                <p>yay, everything is working.</p>
            </div>
            <button class="button-box">
                <h1 class="green">continue</h1>
            </button>
        </div>
       
     
        <div *ngSwitchCase="enums.AlertType.Error" class="error-box">
            <div class="face error-animation">
                <div class="eye"></div>
                <div class="eye right"></div>
                <div class="mouth sad"></div>
                <div class="move"></div>
            </div>
            <div class="message">
                <h1 class="alert">{{alert.Message.Title | translate}}</h1>
                <p>oh no, something went wrong.
            </div>
            <button class="button-box">
                <h1 class="red">try again</h1>
            </button>
        </div>
    </ng-container> -->

    <div [ngClass]="{'success-box':alert.Type === enums.AlertType.Success, 'error-box':alert.Type === enums.AlertType.Error}">
        <div class="face"
            [ngClass]="{'success-animation':alert.Type === enums.AlertType.Success, 'error-animation':alert.Type === enums.AlertType.Error}">
            <div class="eye"></div>
            <div class="eye right"></div>
            <div class="mouth sad"
                [ngClass]="{'happy':alert.Type === enums.AlertType.Success, 'sad':alert.Type === enums.AlertType.Error}">
            </div>
            <div
                [ngClass]="{'scale':alert.Type === enums.AlertType.Success, 'move':alert.Type === enums.AlertType.Error}">
            </div>
        </div>
        <div class="message">
            <h1 class="alert">{{alert.Message.Title | translate}}</h1>
            <!-- <p>{{alert.Message.Content | translate}} -->
        </div>

        <div class="button-actions">
            <button *ngIf="alert.Message.AcceptButton" class="button-box" [mat-dialog-close]="enums.AlertResponses.Yes">
                <h1 [ngClass]="{'green':alert.Type === enums.AlertType.Success, 'red':alert.Type === enums.AlertType.Error}">
                    {{alert.Message.AcceptButton | translate}}</h1>
            </button>
    
            <button *ngIf="alert.Message.CancelButton" class="button-box" [mat-dialog-close]="enums.AlertResponses.No">
                <h1 [ngClass]="{'green':alert.Type === enums.AlertType.Success, 'red':alert.Type === enums.AlertType.Error}">
                    {{alert.Message.CancelButton | translate}}</h1>
            </button>
        </div>
    </div>
</div>