/* You can add global styles to this file, and also import other style files */
@import "./styles/global.rtl.scss";
@import "./styles/global.ltr.scss";

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    thead {
        width: 100%;

        tr {
            display: flex;
            justify-content: space-between;
        }
    }

    tbody.mdc-data-table__content {
        width: 100%;

        tr.mat-mdc-row.mdc-data-table__row.cdk-row.ng-star-inserted {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
}
