/* You can add global styles to this file, and also import other style files */
@import "./styles/global.rtl.scss";
@import "./styles/global.ltr.scss";

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    .mdc-notched-outline.ng-tns-c35-2.mdc-notched-outline--no-label.ng-star-inserted.mdc-notched-outline--notched {
        flex-direction: row-reverse;
    }
}
