table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    .th-ltr {
        text-align: center;
        width: 100%;
    }

    th {
        width: 100px;
    }

    td {
        width: 100px;
    }
}




